<!DOCTYPE html>
<html>
<head>
  <title>卷帘大将——沙和尚</title>
</head>
<style>
    .main{
        position: relative;
    }
    .control{
        position: relative;
        height: 700px;
        width: 900px;
        background-image: url("{{ url_for("static", filename="img/background.png") }}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .control-panel{
        display: inline-block;
    }
    .control-panel-1{
        position: absolute;
        top: 210px;
        left: 80px;
    }
    .control-panel-2{
        position: absolute;
        top: 370px;
        left: 80px;
    }
    .control-panel-3{
        position: absolute;
        top: 530px;
        left: 5px;
    }
    .control-btns{
        text-align: center;
        float: right;
        height: 150px;
        width: 35px;
        border: 1px solid #ccc;
        background-color: rgba(240,240,240,0.9) ;
    }
    .control-btns *{
        display: block;
        margin: auto;
    }
    .control-btns-stop{
        position: relative;
        bottom: -35px;
    }
    .control-btns-close{
        position: relative;
        bottom: -65px;
    }
</style>
<body>

<div class="main">
    <div class="control">
        <div class="control-panel control-panel-1">
            <div class="control-btns" v-for="item in control" v-if="item.position == 0">
                <span v-text="item.ab+item.label"></span>
                <button class="control-btns-open" v-on:click="order(item.ab,item.label,'open')">开</button>
                <button class="control-btns-stop" v-on:click="order(item.ab,item.label,'stop')">停</button>
                <button class="control-btns-close" v-on:click="order(item.ab,item.label,'close')">关</button>
            </div>
        </div>
        <div class="control-panel control-panel-2">
            <div class="control-btns" v-for="item in control" v-if="item.position == 1">
                <span v-text="item.ab+item.label"></span>
                <button class="control-btns-open" v-on:click="order(item.ab,item.label,'open')">开</button>
                <button class="control-btns-stop" v-on:click="order(item.ab,item.label,'stop')">停</button>
                <button class="control-btns-close" v-on:click="order(item.ab,item.label,'close')">关</button>
            </div>
        </div>
        <div class="control-panel control-panel-3">
            <div class="control-btns" v-for="item in control" v-if="item.position == 2">
                <span v-text="item.ab+item.label"></span>
                <button class="control-btns-open" v-on:click="order(item.ab,item.label,'open')">开</button>
                <button class="control-btns-stop" v-on:click="order(item.ab,item.label,'stop')">停</button>
                <button class="control-btns-close" v-on:click="order(item.ab,item.label,'close')">关</button>
            </div>
        </div>
    </div>
</div>
<a href="http://cl.xcf.io:8080/api-help">如果你想用 API 控制</a>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.min.js"></script>
<script type="text/javascript">
  function exeCMD(ab, number, op){
    $.ajax({
      type: 'POST',
      url: 'http://cl.xcf.io:8080/clrc',
      data: JSON.stringify({
        "ab": ab,
        "number": number,
        "op": op
      }),
      success: function(){

      },
      contentType: 'application/json',
      dataType: "json"
    });
  }

  $(document).on('click', 'button', function(){
    var args = $(this).parent().find('p').text();
    var ab = args[0]
    var op = 'stop'
    var label = $(this).text();
    if ( label === '开'){
      op = 'open'
    } else if (label === '关'){
      op = 'close'
    }
    var number = args.slice(1,3)
    exeCMD(ab, number, op)
  });
    var vm = new Vue({
        el:'.control',
        data:{
            control:[
                {
                    ab:'B',
                    label:'07',
                    position:0
                },
                {
                    ab:'B',
                    label:'08',
                    position:0
                },
                {
                    ab:'B',
                    label:'09',
                    position:0
                },
                {
                    ab:'B',
                    label:'10',
                    position:0
                },
                {
                    ab:'B',
                    label:'11',
                    position:0
                },
                {
                    ab:'B',
                    label:'12',
                    position:0
                },
                {
                    ab:'B',
                    label:'13',
                    position:0
                },
                {
                    ab:'B',
                    label:'14',
                    position:0
                },
                {
                    ab:'B',
                    label:'15',
                    position:0
                },
                {
                    ab:'B',
                    label:'16',
                    position:0
                },
                {
                    ab:'A',
                    label:'13',
                    position:1
                },
                {
                    ab:'A',
                    label:'14',
                    position:1
                },
                {
                    ab:'A',
                    label:'15',
                    position:1
                },
                {
                    ab:'A',
                    label:'16',
                    position:1
                },
                {
                    ab:'B',
                    label:'01',
                    position:1
                },
                {
                    ab:'B',
                    label:'02',
                    position:1
                },
                {
                    ab:'B',
                    label:'03',
                    position:1
                },
                {
                    ab:'B',
                    label:'04',
                    position:1
                },
                {
                    ab:'B',
                    label:'05',
                    position:1
                },
                {
                    ab:'B',
                    label:'06',
                    position:1
                },
                {
                    ab:'A',
                    label:'01',
                    position:2
                },
                {
                    ab:'A',
                    label:'02',
                    position:2
                },
                {
                    ab:'A',
                    label:'03',
                    position:2
                },
                {
                    ab:'A',
                    label:'04',
                    position:2
                },
                {
                    ab:'A',
                    label:'05',
                    position:2
                },
                {
                    ab:'A',
                    label:'06',
                    position:2
                },
                {
                    ab:'A',
                    label:'07',
                    position:2
                },
                {
                    ab:'A',
                    label:'08',
                    position:2
                },
                {
                    ab:'A',
                    label:'09',
                    position:2
                },
                {
                    ab:'A',
                    label:'10',
                    position:2
                },
                {
                    ab:'A',
                    label:'11',
                    position:2
                },
                {
                    ab:'A',
                    label:'12',
                    position:2
                }
            ]
        },
        methods:{
            order:function(ab,label,op){
                exeCMD(ab, label, op);
            }
        }
    });
</script>
</body>
</html>