<!DOCTYPE html>
<html>
<head>
  <title>卷帘大将——沙和尚</title>
</head>
<body>

<table border="1">
  <tr>
    <th>天丰利</th>
    <th>中间</th>
    <th>前台</th>
  </tr>
  <tr>
    <td><p>B07</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A13</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A01</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B08</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A14</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A02</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B09</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A15</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A03</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B10</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A16</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A04</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B11</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B01</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A05</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B12</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B02</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A06</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B13</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B03</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A07</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B14</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B04</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A08</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B15</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B05</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A09</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B16</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>B06</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A10</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B00</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A00</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A11</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
  <tr>
    <td><p>B00</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A00</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
    <td><p>A12</p><button type="button">开</button><button type="button">停</button><button type="button">关</button></td>
  </tr>
</table>
<a href="http://cl.xcf.io:8080/api-help">如果你想用 API 控制</a>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  function exeCMD(ab, number, op){
    $.ajax({
      type: 'POST',
      url: 'http://cl.xcf.io:8080/clrc',
      data: JSON.stringify({
        "ab": ab,
        "number": number,
        "op": op
      }),
      success: function(){

      },
      contentType: 'application/json',
      dataType: "json"
    });
  }

  $(document).on('click', 'button', function(){
    var args = $(this).parent().find('p').text();
    var ab = args[0]
    var op = 'stop'
    var label = $(this).text();
    if ( label === '开'){
      op = 'open'
    } else if (label === '关'){
      op = 'close'
    }
    var number = args.slice(1,3)
    exeCMD(ab, number, op)
  })
</script>
</body>
</html>